bleak~=0.22.3
numpy~=2.2.6
sounddevice~=0.5.6
pyo~=1.0.5
psutil~=7.0.0
python-can~=4.6.1
PySide6~=6.8.0
pyserial==3.5
pyudev~=0.24.3; sys_platform == "linux"
PySide6-Addons~=6.8.0
PySide6-Essentials~=6.8.0
shiboken6~=6.8.0
standard-aifc==3.13.0; python_version >= "3.13"
audioop-lts==0.2.2; python_version >= "3.13"
jsonschema~=4.25.1
